@font-face {
	font-family: 'CairoMedium';
	src: url('assets/fonts/Cairo\ Unicode/Cairo.ttf');
}

@font-face {
	font-family: 'PPEditorialNew-Regular';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face {
	font-family: 'PPEditorialNew-UltraLight';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-Ultralight-BF644b21500d0c0.otf);
}

@font-face {
	font-family: 'PPEditorialNew-UltraLightItalic';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf);
}

@font-face {
	font-family: 'NeueMontreal-Medium';
	src: url(assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-medium.otf);
}

@font-face {
	font-family: 'NeueMontreal-Italic';
	src: url(/assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-italic.otf);
}

@font-face {
	font-family: 'NeueMontreal-Book';
	src: url(assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-book.otf);
}

* {
	box-sizing: border-box;
	max-width: 100vw;
}

:root {
	--red: #B22D35;
	--green: #778E28;
	/* --dark-gray: #3D3C31; */
	--dark-gray: #000000;
	--background-gray: #C3C0B6;
	--yellow: #e7aa2c;
	--white: #fbefdf;
	--selection-red: #db4c44;
    --purple: #B188E5;
	--blue: #4156C2;
	--icon-font: "CairoMedium";
	--serif-reg: "PPEditorialNew-Regular", serif;
	--serif-light: "PPEditorialNew-UltraLight", serif;
	--serif-light-italic: "PPEditorialNew-UltraLightItalic", serif;
	--sans-med: "NeueMontreal-Medium", sans-serif;
	--sans-book: "NeueMontreal-Book", sans-serif;
	--sans-italic: "NeueMontreal-Italic", sans-serif;
}

html {
	scroll-behavior: smooth;
	background-color: var(--background-gray);
}

body {
	padding: 0 10px;
	margin: 0;
	font-family: var(--sans-book);
	overflow-x: hidden;
	height: 100%;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	font-weight: unset;
}

.header-name {
	font-family: var(--serif-light);
	font-size: 3.4rem;
	line-height: .75;
	font-weight: 400;
	color: var(--dark-gray);
	padding-top: 50px;
}

main {
}

.header-title {
	font-family: var(--serif-light);
    font-size: 2.5rem;
    /* text-align: center; */
    display: block;
    /* color: var(--blue); */
	/* padding-top: 100px;
	padding-bottom: 0;
    text-align: center; */
}

.spacer {
    height: 50px;
}

.lg-grid {
    display: none;
}

/* .deco-grid.xsm {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    place-content: center;
} */

/* .deco-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.deco-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.deco-3 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}
.deco-4 {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}

.deco-grid .icon {
    font-size: 2.5rem;
} */

span#letter-spacing-flair {
    letter-spacing: -5px;
}

.headshot-image {
    max-width: 265px;
    border-bottom-right-radius: 125px;
	border-bottom-left-radius: 125px;
    width: 100%;
    object-fit: cover;
    min-height: 200px;
    outline: 1px solid var(--dark-gray);
    box-shadow: 4px 10px 12px -4px black;
    z-index: 9;
}

.flair-letter {
	font-family: var(--serif-light-italic) !important;
	padding: 0;
	margin: 0;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.flex-wrapper-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.space-between {
	justify-content: space-between;
}

.underlined {
	border-bottom: solid var(--dark-gray) 1px;
}

#title-spacing {
    margin-top: 10px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

figure {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: var(--yellow); */
	border-bottom-right-radius: 25px;
	padding-bottom: 10px;
}

figure.sm {
	text-align: center;
}

.mini-text {
	font-size: .6rem;
	font-family: var(--sans-med);
}

#heading-title span {
    font-size: 3.4rem;
}

#time:before {
	content: 'PORTLAND ';
}

a {
	width: 100%;
	color: black;
	text-decoration: none;
}

p {
    margin: 0;
}

li {
	list-style: none;
}

#iplan-gif {
    border-radius: 25px;
}

.nav-item,
.animation-box, 
#contact > .list-item:hover .animation-box  {
	height: 100px;
	width: 100px;
	border-bottom-right-radius: 75px;
	border-bottom-left-radius: 75px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* font-family: var(--sans-book); */
	z-index: 3;
	color: white !important;

}

#contact .nav-item,
.animation-box {
	height: 100px;
}

.animation-text {
	font-size: 3rem;
	font-family: var(--serif-light-italic) !important;
}

.nav-item {
	z-index: 3;
	position: relative;
}

.nav-list {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-item p {
	font-size: 1.2rem;
	font-family: var(--serif-light);
	margin: 0;
	padding-bottom: 15px;
}

.list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 75px;
}

#about {
    scroll-margin-top: 150px;
}

.white-btn {
	background-color: var(--white);
    color: black !important;
    box-shadow: 4px 10px 12px -4px #828283;
}

.purple-btn {
    background-color: var(--purple);
    color: black !important;
    box-shadow: 4px 10px 12px -4px rgb(117, 90, 151);
}

.blue-btn {
	background-color: var(--blue);
	color: white !important;
	box-shadow: 4px 10px 12px -4px #202a62;
}

.red-btn {
	background-color: var(--red);
	color: white !important;
	box-shadow: 4px 10px 12px -4px #681d22;
}

.green-btn {
	background-color: var(--green) !important;
	color: white;
}

.yellow-btn {
	background-color: var(--yellow);
	box-shadow: 4px 10px 12px -4px #a1771e;
	color: black !important;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

nav {
	display: flex;
	justify-content: center;
}

.intro-outline {
    outline: 1px black solid;
    padding: 25px;
    justify-self: center;
}

.intro-outline, .exp-container {
    background-color: var(--background-gray);
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 400px;
}

span.header-name,
.list-item a {
	font-size: 2.2rem;
	line-height: .9;
	font-family: var(--serif-light);
}

.list-item a, #contact .list-item a {
	font-size: 1.2rem;
	text-align: center;
	color: black;
    width: 100px;
    font-weight: 800;
    overflow: hidden;
}

#contact .list-item a, #contact .list-item:hover .animation-box {
    width: 130px;
}

#contact .list-item {
    width: 100px;
}

#contact .stem {
    width: 26px;
}

.leaf-mini {
    width: 25px;
    height: 50px;
    background-color: var(--green);
    clip-path: polygon(50% 0%, 65% 12%, 75% 25%, 79% 42%, 80% 60%, 73% 82%, 60% 100%, 40% 100%, 27% 82%, 20% 60%, 21% 42%, 25% 25%, 35% 12%);
    z-index: 6;
    position: absolute;
}

.leaf-container-mini {
    overflow: visible;
    filter: drop-shadow(1px 5px 6px rgba(0, 0, 0, 0.5));
    align-self: center;
    z-index: 0;
    position: relative;
}

.leaf-mini-1 {
    rotate: 66deg;
    top: -115px;
    left: 10px;
}

.leaf-mini-2 {
    rotate: -66deg;
    top: -115px;
    right: 30px;
}

.group-mini-1 {
    top: 50px;
}

.group-mini-2 {
    top: 115px;
}

#contact-stem-inner-extended {
    position: absolute;
    height: 500px;
    top: -100px;
}

#contact-stem-inner-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#contact .tulips {
    padding: 25px 0;
}

.sans {
	font-family: var(--sans-book) !important;
	font-weight: 600 !important;
}

p {
	font-family: var(--sans-book);
}

#projects a {
	border-bottom: solid 1px var(--dark-gray) !important;
}

summary > .role-header > span a { 
    color: #000000;
}

#about a::after,
#projects a::after {
	content: " ↗";
}

#contact .nav-item p::after {
	content: "↗";
}

#about p {
	line-height: 1.2;
}

#intro {
	background-color: transparent;
}

.img-title-container {
	display: flex;
	gap: 20px;
	align-items: center;
}

.img-title-container h2 {
	align-self: center;
	font-weight: 800;
	font-family: var(--serif-light);
	font-size: 2em;
	text-align: center;
}

.title-icon-wrapper {
    display: flex;
    justify-content: space-between;
}

#intro p {
	font-size: .8rem;
}

.role-header {
    font-size: 1.2rem;
    color: black;
}

.details-container {
    padding: 0 25px;
}

.bullet-list {
	padding-top: 0;
    padding-left: 1em;
}


.bullet-list>li,
.stack>p {
	line-height: 1.2;
	list-style: disc;
	padding: 5px 0;
    font-size: .8rem;
    color: black;
}

.about-me-text .bullet-list>li {
    list-style: none;
}

.about-me-text .bullet-list {
    padding-left: 0;
}

.bullet-list>li>a {
	color: black;
}

.bullet-list>li>b {
	font-weight: 900 !important;
}

#intro .specializations {
    font-weight: 600;
    font-family: var(--sans-med);
}

.work-section {
	background-color: transparent;
}

details {
	scroll-margin-top: 50px;
    outline: 1px black solid;
    margin-bottom: 10px;
}

summary {
	transition: all 0.5s ease;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	display: flex;
	gap: 5px;
	width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
    padding-right: 25px;
    outline: 1px black solid;
    align-items: center;
    background-color: var(--white);
}

summary::after {
	content: "‹";
	display: block;
	transform: rotate(90deg);
	transition: transform 0.5s ease;
	transform-origin: 50% 50%;
	font-size: 2.7rem;
}

summary[open],
summary::after {
	transform: rotate(270deg);
}

details[open] summary::after {
	content: "✕";
	font-size: 1.8rem;
	transform: rotate(360deg);
	font-weight: 900;
	font-family: sans-serif;
}

details[open] #uw::after {
	content: url(/assets/imgs/uw-crest.svg);
	width: 35px;
	transform: rotate(360deg);
}

summary:hover,
summary:active {
	color: var(--red);
}

summary::details-content {
	transition: all 0.5s ease;
	height: 0;
	overflow: clip;
}

h3.role-header span {
	display: block;
}

.stack>span {
	width: fit-content;
	border-bottom: 1px solid black;
}

::selection,
#about a:hover,
#projects a:hover {
	background-color: var(--selection-red);
	color: #fff !important;
}

.animation-box {
	background-color: var(--selection-red) !important;
	color: black;
	z-index: 5;
	position: absolute;
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}

.stem-container {
	display: flex;
	justify-content: center;
    position: relative;
    z-index: 2;
}

.stem, .stem-extended {
	background-color: var(--green);
	z-index: 1;
    box-shadow: 2px 3px 8px 1px #2f3517;
}

.stem {
    width: 20px;
	height: 120px;
    margin-top: -10px;
}

.contact-outline {
    outline: none;
}

.nav-item:hover .animation-box {
	height: 100px;
}

.project-img {
	margin-top: 15px;
    width: 75%;
    max-width: 250px;
}

figure>img {
	padding: 10px;
}

#contact .nav-item {
	height: 20vh;
    max-height: 120px;
    max-width: 185px;
}

#contact {
	display: flex;
	flex-direction: column;
    position: relative;
    z-index: 6;
}

#contact .nav-item img {
	border-bottom-right-radius: 25px;
}

#projects {
	scroll-margin-top: 0px;
}

#experience, #projects {
    scroll-margin-top: 50px;
}

.icon {
	font-family: var(--icon-font);
	font-size: 25px;
	font-style: normal;
}

.deco {
    rotate: 40deg;
}

#intro .bullet-list>li, #intro .stack>p {
    font-size: .9rem;
}

.tulips {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 125px 0;
    width: 100%;
}

.blue {
	color: var(--blue);
}

.work-section:has(.contact-socials) {
    height: 100%;
    margin-bottom: 10px;
    outline: 1px solid black;
}

.contact-socials {
    width: 100%;
    height: 100%;
}

.contact-socials .open-arrow {
    font-size: 2rem;
    padding-right: 15px;
    width: unset;
}

.contact-socials:hover a,
.contact-socials:hover .open-arrow
 {
    color: blue;
    cursor: pointer;
}

.contact-socials:hover {
    background-color: var(--white);
}

#contact .role-header-exp span a {
    padding: 25px;
    display: block;
}

#contact .role-header-exp, 
#contact .role-header-exp span,
#contact .role-header-exp span a {
    width: 100%;
    height: 100%;
    /* display: block; */
}

#contact .list-item:nth-child(odd) {
	margin-top: 50px !important;
}

.nav-list .list-item:nth-child(odd) {
    margin-top: 50px !important;
}

.nav-list .list-item:nth-child(even) .stem {
    height: calc(120px + 50px);
}

#contact .list-item:nth-child(even) .stem {
	height: calc(120px + 50px);
}

.to-top-container a {
	color: var(--dark-gray);
	font-size: 1.7rem;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-content: center;
    cursor: pointer;
    z-index: 6;
    position: absolute;
    width: 200px;
    padding-bottom: 5px;
    background-color: var(--white);
    outline: 1px solid black;
    box-shadow: 2px 2px 7px black;
    bottom: 0;
    height: 80px;
}

.about-me-text>p span {
    font-weight: 800;
    font-family: var(--sans-med);
}

.to-top-container a>p {
	font-size: .7rem;
	margin: 0;
    color: black;
}

.to-top-container a:hover,
.to-top-container a:hover p {
	color: var(--blue);
}

.to-top-container {
	text-align: center;
	/* margin-top: 90px; */
    display: flex;
    background-color: var(--background-gray);
    justify-self: center;
    position: relative;
    width: 100%;
    height: 150px;
    justify-content: center;
    border-bottom: 1px solid black;
}

#contact-list-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1em;
	justify-self: center;
}

.lg {
	display: none;
}

.sm {
	display: block;
}

.role-header-exp {
    font-size: 1rem;
    width: 75%;
}

.animation-text,
.list-item p {
	font-family: var(--serif-light-italic) !important;
}

p.animation-text {
	font-size: 2.5rem !important;
}

summary .role-header {
    font-size: 1rem;
}

.header-name {
    font-size: 2.5rem;
}

#contact .nav-item {
    max-height: 100px;
}

.headshot-container {
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#about .stem {
    height: 50px;
}

#about .stem, .stem-extended{
    width: 35px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.stem-extended, #contact-stem-extended {
    height: 110px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#contact-stem-extended, #contact-stem-inner-extended {
    border-bottom: none;
}

.header-name {
    font-size: 2.5rem;
}

@media (min-width: 600px) {
    #heading-title span {
        font-size: 5rem;
    }

    .list-item {
        width: 100px;
    }

    .list-item a, .list-item:hover .animation-box, .animation-box {
        width: 125px;
    }

    .list-item p {
        font-size: 1.5rem;
    }
   
    .nav-item, .nav-item:hover .animation-box {
        height: 110px;
    }

    .stem {
        width: 23px;
        height: 150px;
    }

    .nav-list .list-item:nth-child(even) .stem {
        height: calc(150px + 50px);
    }

    .mini-text {
        font-size: .7rem;
    }

    span.header-name, .list-item a {
        font-size: 3rem;
    }

    .tulips {
        padding: 100px 0;
    }
}
@media (min-width: 900px) {
    #heading-title span {
        font-size: 6rem;
    }

    span.header-name, .list-item a {
        font-size: 3.5rem;
    }
}

@media (min-width: 1100px) {
    #heading-title span {
        font-size: 7rem;
    }

    .tulips {
        padding: 60px 0;
    }
    
    span.header-name, .list-item a {
        font-size: 4rem;
    }

    .list-item a, .list-item:hover .animation-box, .animation-box {
        width: 170px;
    }

    .nav-item, .nav-item:hover .animation-box {
        height: 155px;
    }

    .stem {
        width: 30px;
        height: 180px;
    }

    .nav-list .list-item:nth-child(even) .stem {
        height: calc(180px + 50px);
    }

    .nav-item, .animation-box, .nav-item:hover .animation-box {
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    .list-item {
        width: 150px;
    }

/* Testing Grid Large Layout */

    .lg-grid {
        display: grid;
        grid-template-columns: 1fr 150px 1fr;
        grid-template-rows: repeat(7, auto);
        width: 100%;
        place-items: center;
        gap: 50px;
        overflow: hidden;
        align-items: start;
    }

    .lg-grid section > section {
        width: 450px;
        outline: 1px solid black;
        padding: 25px;
        background-color: var(--white);
    }

    .intro-outline {
        min-height: 600px;
        max-width: 450px;
        background-color: var(--white);
    }

    #small-view-layout {
        display: none;
    }

    .headshot-image {
        max-width: 300px;
        height: 300px;
        border-bottom-right-radius: 200px;
        border-bottom-left-radius: 200px;
        justify-self: center;
    }

    .headshot-img-grid {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        z-index: 20;
        height: 100%;
        min-width: 300px;
    }

    .grid-about-section {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-work-section {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .exp-container .work-section {
        border-bottom: 1px solid black;
        padding: 10px 0;
    }

    .grid-projects-section {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        z-index: 4;
    }

    .lg-grid #projects > section {
        height: 100px;
        min-height: 100px;
        width: 300px;
    }
   
    .lg-grid #projects .header-title {
        text-align: center;
    }

    .grid-tt-section {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-gac-section {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .grid-bb-section {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .grid-cookbook-section {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    .grid-contact-section {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        z-index: 7;
    }

    .stem-grid-1 {
        grid-row: 2 / 6;
        grid-column: 2 / 3;
        height: 100%;
        margin-top: 100px;
        z-index: 7;
    }

    .grid-to-top {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
        width: 100%;
        height: 150px;
        place-content: end;
        padding-bottom: 15px;
        z-index: 7;
    }

    .to-top-container {
        width: 100%;
        background-color: transparent;
        height: 100%;
    }

    .to-top-container a {
        width: 800px;
        cursor: pointer;
        height: 100%;
    }

    .lg-grid .stem-extended {
        height: 100%;
        z-index: 1;
        width: 50px;
        position: relative;
        border-top: none;
        border-bottom: none;
        margin-top: 50px;
        z-index: 7;
    }


    #projects a,  
    .role-header.lg-text span a,
    .bullet-list li a {
        border-bottom: 1px solid black;
    }

    #projects {
        align-self: start;
        z-index: 8;
    }

    #projects a:hover,  
    .role-header.lg-text span a:hover,
    .bullet-list li a:hover {
        background-color: var(--selection-red);
        color: #fff !important;
    }

    #projects a::after,
    .role-header.lg-text span a::after,
    .bullet-list li a::after {
	    content: " ↗";
    }

    .leaf {
        width: 131px;
        height: 270px;
        background-color: var(--green);
        /* clip-path: polygon(50% 0%, 75% 25%, 80% 60%, 60% 100%, 40% 100%, 20% 60%, 25% 25%); */
        clip-path: polygon(50% 0%, 65% 12%, 75% 25%, 79% 42%, 80% 60%, 73% 82%, 60% 100%, 40% 100%, 27% 82%, 20% 60%, 21% 42%, 25% 25%, 35% 12%);
        z-index: 6;
        position: absolute;
    }

    /* box-shadow: 2px 3px 6px 1px #2f3517; */

    .leaf-container-1 {
        grid-row: 2 / 3;
    }

    .leaf-container-2 {
        grid-row: 3 / 4;
    }

    .leaf-1 {
        rotate: 70deg;
        margin-left: 78px;
        top: 25px;
    }

    .leaf-2 {
        rotate: -70deg;
        margin-left: -204px;
        top: -224px;
    }

    .leaf-3 {
        rotate: 70deg;
        margin-left: 78px;
        top: -224px;
    }

    .leaf-4 {
        margin-left: -204px;
        rotate: -70deg;
        top: 860px;
    }
   
    .leaf-5 {
        margin-left: 78px;
        rotate: 70deg;
        top: 860px;
    }

    .leaf-6 {
        margin-left: -204px;
        rotate: -70deg;
        top: 25px;
    }

    .leaf-7 {
        margin-left: 78px;
        rotate: 70deg;
        top: 358px;
    }

    .leaf-8 {
        margin-left: -204px;
        rotate: -70deg;
        top: 358px;
    }

    .leaf-container {
        grid-column: 2 / 3;
        position: relative;
        overflow: visible;
        z-index: 6;
        filter: drop-shadow(1px 5px 6px rgba(0, 0, 0, 0.5));
        align-self: center;
    }

    .leaf-mini {
        width: 50px;
        height: 100px;
    }
    
    .leaf-mini-1 {
        top: -114px;
        left: 20px;
    }
    
    .leaf-mini-2 {
        top: -114px;
        right: 50px;
    }

    .group-mini-1 {
        top: 10px;
    }
    
    .group-mini-2 {
        top: 100px;
    }

    .role-header span:first-child, .in-progress {
        color: var(--blue); 
        font-size: 2rem; 
        font-weight: 900;
        font-family: var(--sans-book);
    }

    .header-title {
        color: var(--blue);
    }

    .in-progress {
        margin-top: -15px;
    }

    .role-header span a {
        font-size: 1rem;
    }

    .role-header { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
    }

    .role-header.stack {
        color: var(--blue);
        font-size: 2rem; 
        font-weight: 900;
    }

    .details-container {
        padding: 0 0;
    }

    .bullet-list > li {
        font-size: 1rem;
    }

    .grid-cookbook-section .project-img {
        filter: blur(5px);
    }


    /*  */

}

@media (min-width: 1450px) {
    body {
        padding: 0 25px;
    }
    
    #heading-title span {
        font-size: 7rem;
    }

    .tulips {
        padding: 110px 0;
    }

    .nav-item, .animation-box, .nav-item:hover .animation-box {
        border-bottom-right-radius: 125px;
        border-bottom-left-radius: 125px;
    }

    .list-item a, .list-item:hover .animation-box, .animation-box {
        width: 175px;
    }

    .nav-item, .nav-item:hover .animation-box {
        height: 170px;
    }

    .list-item {
        width: 150px;
    }

    .stem {
        width: 32px;
        height: 180px;
    }

    .nav-list .list-item:nth-child(even) .stem {
        height: calc(180px + 50px);
    }
}