@font-face {
	font-family: 'CairoMedium';
	src: url('assets/fonts/Cairo\ Unicode/Cairo.ttf');
}

@font-face {
	font-family: 'PPEditorialNew-Regular';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face {
	font-family: 'PPEditorialNew-UltraLight';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-Ultralight-BF644b21500d0c0.otf);
}

@font-face {
	font-family: 'PPEditorialNew-UltraLightItalic';
	src: url(assets/fonts/editorial-new-font-family/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf);
}

@font-face {
	font-family: 'NeueMontreal-Medium';
	src: url(assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-medium.otf);
}

@font-face {
	font-family: 'NeueMontreal-Italic';
	src: url(/assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-italic.otf);
}

@font-face {
	font-family: 'NeueMontreal-Book';
	src: url(assets/fonts/neue-montreal-v2-0-font-family/ppneuemontreal-book.otf);
}

* {
	box-sizing: border-box;
	max-width: 100vw;
}

:root {
	--red: #B22D35;
	--green: #778E28;
	--dark-gray: #3D3C31;
	--background-gray: #C3C0B6;
	--yellow: #e7aa2c;
	--white: #fbefdf;
	--selection-red: #db4c44;
    --purple: #B188E5;
	--blue: #4156C2;
	--icon-font: "CairoMedium";
	--serif-reg: "PPEditorialNew-Regular", serif;
	--serif-light: "PPEditorialNew-UltraLight", serif;
	--serif-light-italic: "PPEditorialNew-UltraLightItalic", serif;
	--sans-med: "NeueMontreal-Medium", sans-serif;
	--sans-book: "NeueMontreal-Book", sans-serif;
	--sans-italic: "NeueMontreal-Italic", sans-serif;
}

html {
	scroll-behavior: smooth;
	background-color: var(--background-gray);
}

body {
	padding: 0 15px;
	margin: 0;
	font-family: var(--sans-book);
	overflow-x: hidden;
	height: 100%;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	color: var(--dark-gray);
	font-weight: unset;
}

.header-name {
	font-family: var(--serif-light);
	font-size: 3.4rem;
	line-height: .75;
	font-weight: 400;
	color: var(--dark-gray);
	padding-top: 50px;
}

.header-title {
	font-family: var(--sans-book);
	color: var(--dark-gray);
	padding-top: 100px;
	padding-bottom: 30px;
}

.header-title>span {
	font-weight: 800;
	font-size: 2.7rem;
}

.flair-letter {
	font-family: var(--serif-light-italic) !important;
	padding: 0;
	margin: 0;
}

#title {
	min-height: 70vh;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.underlined {
	border-bottom: solid var(--dark-gray) 1px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

figure {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--yellow);
	border-bottom-right-radius: 25px;
	padding-bottom: 10px;
}

figure.sm {
	text-align: center;
}

.mini-text {
	font-size: .6rem;
	font-family: var(--sans-med);
}

#time:before {
	content: 'PORTLAND ';
}

a {
	width: 100%;
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
}

.nav-item,
.animation-box {
	height: 15vh;
	width: 29vw;
	border-bottom-right-radius: 75px;
	border-bottom-left-radius: 75px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* font-family: var(--sans-book); */
	z-index: 3;
	color: white !important;
}

#contact .nav-item,
.animation-box {
	height: 20vh;
}

.animation-text {
	font-size: 3rem;
	font-family: var(--serif-light-italic) !important;
}

.nav-item {
	z-index: 3;
	position: relative;
}

.nav-list {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-item p {
	font-size: 1.2rem !important;
	font-family: var(--serif-light);
	margin: 0;
	padding-bottom: 15px;
}

.list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 20vw;
}

#about {
	min-height: unset;
}

.white-btn {
	background-color: var(--white);
    color: black !important;
    box-shadow: 2px 4px 5px #828283;
}

.purple-btn {
    background-color: var(--purple);
    color: black !important;
    box-shadow: 2px 4px 5px rgb(117, 90, 151);
}

.blue-btn {
	background-color: var(--blue);
	color: white !important;
	box-shadow: 2px 4px 5px #202a62;
}

.red-btn {
	background-color: var(--red);
	color: white !important;
	box-shadow: 2px 4px 5px #681d22;
}

.green-btn {
	background-color: var(--green) !important;
	color: white;
}

.yellow-btn {
	background-color: var(--yellow);
	box-shadow: 2px 4px 5px #a1771e;
	color: black !important;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

nav,
#contact>div {
	display: flex;
	justify-content: center;
}

h2.header-name,
.list-item a {
	font-size: 2rem;
	line-height: 1.3;
	font-family: var(--serif-light);
	padding-top: 10px;
	font-weight: 800;
	color: var(--dark-gray);
}

.list-item a {
	font-size: 1.2rem;
	text-align: center;
	color: black;
    width: 130%;
}

.sans {
	font-family: var(--sans-book) !important;
	font-weight: 600 !important;
}

.header-title>span {
	display: block;
}

p {
	font-family: var(--sans-book);
}

#about a,
#projects a {
	border-bottom: solid 1px var(--dark-gray) !important;
	color: var(--dark-gray) !important;
}

#about a::after,
#projects a::after,
#contact .nav-item p::after {
	content: " ↗";
}

#contact .nav-item p::after {
	content: "↗";
}

#about p {
	line-height: 1.2;
}

#intro {
	padding: 1.5em;
	background-color: var(--white);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#intro img {
	width: 50%;
	border-radius: 50%;
	float: left;
	outline: 5px solid var(--red);
	outline-offset: -5px;
	/* background-image: url(/assets/imgs/headshot.JPG); */
	height: 50%;
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* background-position: center; */
}

#intro>div {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	align-items: center;
}

#intro>div h2 {
	align-self: center;
	font-weight: 800;
	font-family: var(--serif-light);
	font-size: 2em;
	text-align: center;
}

#intro p {
	padding-top: 1em;
	font-size: 1.1rem;
}

.work-section h3,
#intro span {
	font-family: var(--sans-med);
	width: 100%;
}

article {
	min-height: 50vh;
}

.bullet-list {
	padding: 2em;
	padding-top: 0;
}

.bullet-list>li,
.stack>p {
	line-height: 1.2;
	color: var(--dark-gray);
	list-style: disc !important;
	padding: 10px 0px;
}

.bullet-list>li>a {
	color: black;
}

.bullet-list>li>b {
	font-weight: 900 !important;
}

.work-section {
	background-color: var(--white);
	padding: 15px 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 15px;
}

.work-section:has(details[open]) {
	padding-bottom: 0;
}

details {
	scroll-margin-top: 50px;
}

summary {
	transition: all 0.5s ease;
	padding: 0.5em 1em;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	display: flex;
	gap: 0.5em;
	width: 100%;
}

[open] summary {
	padding: 1em 1em;
	font-size: calc(105%);
}

summary::after {
	content: "+";
	display: block;
	transform: rotate(90deg);
	transition: transform 0.5s ease;
	transform-origin: 50% 50%;
	font-size: 2rem;
}

summary[open],
summary::after {
	transform: rotate(270deg);
}

details[open] summary::after {
	content: "—";
	font-size: 1.3rem;
	transform: rotate(360deg);
	font-weight: 900;
	font-family: sans-serif;
}

details[open] #uw::after {
	content: url(/assets/imgs/uw-crest.svg);
	width: 40px;
	transform: rotate(360deg);
}

summary:hover,
summary:active {
	color: var(--red);
}

summary::details-content {
	transition: all 0.5s ease;
	height: 0;
	overflow: clip;
}

h3.role-header span {
	display: block;
}

.stack>span {
	margin-bottom: 1em;
	width: fit-content;
	border-bottom: 1px solid black;
}

::selection,
#about a:hover,
#projects a:hover {
	background-color: var(--selection-red);
	color: #fff !important;
}

.stack {
	padding: 0 1em;
}

.animation-box {
	background-color: var(--selection-red) !important;
	color: black;
	z-index: 5;
	position: absolute;
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}

.stem-container {
	width: 18vw;
	display: flex;
	justify-content: center;
}

.stem {
	background-color: var(--green);
	width: 25%;
	height: 15vh;
	margin-top: -10px;
	z-index: 1;
	box-shadow: 2px 2px 7px #2f3517;
}

.nav-item:hover .animation-box {
	height: 15vh;
}

.project-img {
	max-width: 50%;
	margin-top: 15px;
}

.work-section .project-img {
	max-width: 75%;
}

figure>img {
	padding: 10px;
}

#contact .nav-item {
	height: 20vh;
    max-height: 120px;
    max-width: 150px;
}

#contact {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
}

#contact .stem {
	height: 15vh;
	width: 25%;
}

/* #contact .nav-item:hover .animation-box {
	height: 20vh;
} */

#contact .nav-item img {
	border-bottom-right-radius: 25px;
}

#contact h3 {
	padding-bottom: 25px;
}

#about,
#contact,
#projects {
	scroll-margin-top: -50px;
}

#experience {
    scroll-margin-top: 160px;
}

.icon {
	font-family: var(--icon-font);
	font-size: .8em;
	font-style: normal;
	padding-left: 5px;
}

.tulips {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20% 0;
    width: 100%;
}

.blue {
	color: var(--blue);
}

#contact .list-item:nth-child(odd) {
	margin-top: 50px !important;
}

.nav-list .list-item:nth-child(odd) {
    margin-top: 50px !important;
}

.nav-list .list-item:nth-child(even) .stem {
    height: calc(15vh + 50px);
}

#contact .list-item:nth-child(even) .stem {
	height: calc(15vh + 50px);
}

#to-top-container a {
	color: var(--dark-gray);
	font-size: 1.7rem;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#to-top-container a>p {
	font-size: .9rem;
	color: var(--dark-gray);
	margin: 0;
}

#to-top-container a:hover,
#to-top-container a:hover p {
	color: var(--blue);
}

#to-top-container {
	text-align: center;
	margin-top: -40px;
	padding-bottom: 50px;
	padding-top: 50px;
}

#contact-list-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1em;
	border-radius: 25px;
	justify-self: center;
}

.lg {
	display: none;
}

.sm {
	display: block;
}

#contact .work-section {
	padding: 1.5em;
}

.animation-text,
.list-item p {
	font-family: var(--serif-light-italic) !important;
}

p.animation-text {
	font-size: 2.5rem !important;
}

@media (min-width: 815px) {
	.nav-list {
		justify-content: center;
		gap: 30px;
	}

    #experience {
        scroll-margin-top: 250px;
    }

    .list-item a {
        width: 130%;
        overflow: hidden;
    }

    .nav-list .list-item:nth-child(odd) {
        margin-top: 50px !important;
    }
    
    .nav-list .list-item:nth-child(even) .stem {
        height: calc(20vh + 50px);
    }

	nav {
		min-height: 50vh;
	}

    /* #intro img:hover {
        background-image: url(/assets/imgs/headshot-ascii.png);
        mix-blend-mode: multiply;
    } */

	#contact .animation-text,
	#contact .list-item p {
		font-size: 2rem !important;
	}

	.animation-text,
	.list-item p {
		font-size: 2.5rem !important;
	}

	.nav-item,
	.nav-item:hover .animation-box,
	#contact .nav-item,
	#contact .nav-item:hover .animation-box {
		height: 20vh;
	}

	.stem {
		height: 20vh;
	}

	.list-item:nth-child(even) .stem {
		height: calc(20vh + 50px);
	}

	.tulips {
		padding: 10% 0;
	}

	#contact .nav-item {
		width: 35vw;
	}

	#contact .animation-box {
		width: 35vw;
		background-color: var(--selection-red) !important;
	}

	#about-grid {
		display: grid;
		grid-template-columns: 4fr 2fr;
		grid-template-rows: repeat(3, 25vh);
		gap: 10px;
		place-items: center;
		height: 90vh;
		padding-top: 100px;
	}

	#about-grid .header-title {
		grid-row: 2;
		padding: 0;
		order: 2;
	}

	#about {
		scroll-margin-top: -25px;
	}

	#projects,
	#contact {
		scroll-margin-top: -75px;
	}

	#intro {
		border-radius: 25px;
		grid-row: 1 / 4;
		height: 100%;
		padding: 2.5em;
		order: 1;
	}

	#intro p {
		padding-top: 40px;
		font-size: 1.2em;
	}

	#intro div {
		height: 50%;
		display: flex;
		align-items: center;
	}

	#intro div h2 {
		font-size: 3rem;
		text-align: center;
	}

	#intro img {
		height: 300px;
		width: 300px;
	}

	.project-img {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	figure {
		border-bottom-left-radius: 25px;
		background-color: transparent;
		padding: 0;
        height: 100%;
        width: 100%;
	}

	::details-content {
		content-visibility: visible;
	}

	summary::after {
		display: none;
	}

	.bullet-list {
		font-size: 1rem;
	}

	.bullet-list>li {
		line-height: 1.5;
	}

	.info-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}

	.details-container {
        width: 50%;
        float: left;
        padding-top: 100px;
	}

	details {
		color: transparent;
		cursor: url(/assets/imgs/custom.png), auto;
		width: 100%;
		height: 100%;
        float: right;
	}

	.lg-text {
		font-size: 2rem;
	}

	.header-title {
		width: 75%;
	}

	.header-title.center-title {
		max-width: 40%;
		align-self: flex-start;
	}
    
	.role-header {
		width: 100%;
	}

	.lg {
		display: block;
	}

	summary {
		cursor: url(/assets/imgs/custom.png), auto;
        position: absolute;
	}

	.figure-container {
		display: flex;
		flex-direction: column;
		width: 50%;
        padding: 100px 0;
	}

	figure.lg {
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
	}

	.work-section {
		border-radius: 25px;
		padding: 1.5em;
		cursor: url(/assets/imgs/custom.png), auto;
		height: fit-content;
		width: 100%;
	}

	.sm {
		display: none;
	}

	body {
		cursor: url(/assets/imgs/custom.png), auto;
		padding: 25px;
	}

	#contact a,
	.nav-item,
	.nav-item:hover .animation-box,
	.animation-box {
		max-width: 20vw;
	}

	.list-item {
		width: 15vw;
	}

	h2.header-name {
		font-size: 3rem;
	}

	.exp-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	#projects .project-img.lg {
		max-width: 50%;
	}

	img#crest {
        max-width: 200px;
	}

	.project-img {
		width: 450px;
	}

	#contact .exp-container section {
		width: 100%;
	}

	#contact h3 {
		padding: 1.5em;
	}

	#contact .work-section {
		height: fit-content;
	}

	.header-title span {
		font-size: 4rem;
	}

    .xl-text {
        font-size: 5rem;
    }

    .list-item p {
        font-size: 2rem !important;
    }
}

@media (min-width: 1130px) {
	.xl-text {
		font-size: 8rem;
	}

    .list-item p {
        font-size: 1.5rem !important;
    }

    p.animation-text {
        font-size: 2.5rem !important;
    }

    .nav-list {
        gap: 10px;
    }

    #contact a,
	.nav-item,
	.nav-item:hover .animation-box,
	.animation-box {
		max-width: 20vw;
	}

    #contact a {
        max-width: 12vw;
    }

    .list-item a {
        width: 100%;
    }

    .list-item {
        width: 11vw;
    }

	.tulips {
		padding: 1% 0;
	}
    
	.mini-text {
		font-size: .8rem;
		font-family: var(--sans-med);
		font-weight: 900;
	}

	.stem {
		width: 15%;
	}

	#intro p {
		font-size: 1.3rem;
	}

	#intro div {
		gap: 0;
	}

	#intro {
		width: 55vw;
	}

	.header-title span {
		font-size: 5rem;
	}

	.work-section {
		justify-self: center;
		height: fit-content;
		align-items: center;
		display: flex;
		width: 100%;
	}

	.stack>span {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 2rem;
	}

	.exp-container {
		padding: 0 4em;
		width: 100%;
		align-items: center;
		gap: 5rem;
	}

	.exp-container h2 {
		margin-bottom: -5rem;
	}

	.bullet-list {
		width: 85%;
		font-size: 1.2rem;
	}

	#contact .header-name {
		font-size: 2rem;
	}

	#contact .stem {
		width: 15%;
		height: 20vh;
	}

	#contact .nav-item,
	#contact .nav-item:hover .animation-box {
		height: 20vh;
		color: white !important;
	}

	#contact .list-item:nth-child(even) .stem {
		height: calc(20vh + 50px);
	}

	#projects .project-img.lg {
	}

	.work-section .project-img {
		max-width: 100%;
	}
}

@media (min-width: 1500px) {
	#contact .nav-item,
	#contact .nav-item:hover .animation-box {
		height: 22vh;
	}

	.work-section,
	#contact-list-container {
		width: 75%;
		height: fit-content;
	}

    #contact .nav-item {
        width: 12vw;
        max-width: 200px;
    }

    #contact .nav-item {
        max-height: 150px;
    }

	.header-title.center-title {
		max-width: 35%;
		margin-left: 11.5vw;
	}

	h2.header-name {
		font-size: 4rem;
	}

	#intro {
		width: 50vw;
	}

	#intro div h2 {
		font-size: 4rem;
	}

	#intro img {
		height: 350px;
		width: 350px;
	}

	#intro p {
		padding: 30px 50px;
		font-size: 1.5rem;
	}

	#about-grid {
		height: 100vh;
		width: calc(80% - 6.5rem);
		justify-self: center;
	}

	img#crest {
		width: 200px;
	}

    #about section {
        display: grid;
    }
}

@media (min-width: 1900px) {
	.header-title.center-title {
		max-width: 30%;
	}

	.list-item {
		width: 10vw;
	}

	#intro p {
		padding: 50px 80px;
	}

	.bullet-list {
		font-size: 1.3rem;
	}

	#projects .project-img.lg {
		max-width: 35%;
	}

    .list-item a {
        width: 95%;
    }

}

@media (min-width: 2140px) {
	.header-title.center-title {
		max-width: 25%;
	}

	.project-img {
		width: 600px;
	}

	#about-grid .header-title {
		padding: 0 70px;
	}

	img#crest {
		width: 200px !important;
	}

	#contact .stem {
		width: 10%;
	}

}

@media (min-width: 2440px) {
	.details-container {
		gap: 0;
	} 

	#about-grid .header-title {
		padding: 0 80px;
	}

	#projects .project-img.lg {
		max-width: 30%;
	}

	nav {
		align-items: center;
	}

	h2.header-name {
		font-size: 6rem;
	}

	.xl-text {
		font-size: 10rem;
	}

	.nav-list {
		gap: 0;
	}

	.stem {
		width: 10%;
	}

	.list-item {
		width: 8vw;
	}
}